body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1d6ff;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    padding-right: 10%;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

nav section {
}

section[data-use="result"] {
    background-color: #b1d6ff;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    color: black;
    line-height: 25px;
    box-shadow: 10px 0 0 0 rgba(0,0,0,0.1);
    /*overflow-y: scroll;*/
}

section[data-use="result"] ul {
    list-style: none;
    padding: 5px 0 5px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

section[data-use="result"] ul li {
    cursor: pointer;
}

section[data-use="result"] ul li:first-letter {
    text-transform: uppercase;
}

section[data-use="result"] ul li:hover {
    color: #ff000a;
}

section[data-use="detail"] {
    width: 80vw;
    height: 100vh;
    padding: 0 0 0 10px;
}
section[data-use="detail"] ul {
    list-style: none;
}

section[data-use="detail"] ul li {

}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    padding-left: 5%;
}

span {
    padding-left: 2%;
}

.style {
    display: flex;
    align-items: baseline;
}

img {
    top: 0;
    width: 35vw;
    max-height: 75vh;
}

section[data-use="detail"] button {
    display: flex;
    justify-content: right;
}

#detail {
    display: flex;
}